.main{
    height: 400px;
    width: 500px;
    border: 1px solid black;
    background-color: lightgray;
    padding: 20px;
}
.main > image{
    width: 20px;
    height: auto;
    float: left;
    margin-right:20px ;
    margin-bottom: 20px;
}